.features__gallery {
  &[alignment='vertical'] {
    .feature {
      display: flex;
      gap: 2rem;
    }
  }
}

.features__icon-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  &[alignment='horizontal'],
  &[alignment='vertical'] {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }

  &[alignment='vertical'] {
    position: relative;
    max-height: 45rem;
    overflow-y: scroll;
    width: 10rem;
    padding: 2rem;

    &::before,
    &::after {
      content: '';
      position: sticky;
      width: 100%;
      height: 3rem;
    }

    &::before {
      top: -1rem;
      background-image: linear-gradient(var(--color-filler), transparent);
    }

    &::after {
      bottom: -1rem;
      background-image: linear-gradient(transparent, var(--color-filler));
    }
  }

  &[alignment='horizontal'] {
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    max-height: auto;
    overflow-x: scroll;

    &::before,
    &::after {
      content: '';
      position: sticky;
      width: 3rem;
      height: 100%;
    }

    &::before {
      left: 0;
      background-image: linear-gradient(var(--color-filler), transparent);
    }

    &::after {
      right: 0;
      background-image: linear-gradient(transparent, var(--color-filler));
    }
  }

  &[alignment='grid'] {
    width: 20rem;
  }
}

.features__icon-grid-item {
  position: relative;
  opacity: 0.35;
  transition: all 0.4s;

  &:hover {
    /* box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.1); */
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
  }

  &.active {
    opacity: 1;
  }

  &--highlight {
    color: var(--color-filler) !important;
    background-color: var(--color-accent) !important;

    svg {
      color: var(--color-filler);
    }
  }
}
