.main {
  width: 100%;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
}

.type--expense {
  .amount {
    color: red;
  }
}

.type--income {
  .amount {
    color: green;
  }
}

.details {
  form,
  input,
  textarea,
  select {
    width: 100%;
  }
}
