.movement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

.main {
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
