.main {
  width: 100%;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
}

.movement {
  align-self: start;

  &__actions {
    margin-top: 2rem;
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  svg {
    font-size: 0.75rem;
    color: var(--color-filler);
    padding: 0.25rem;
    border-radius: 50%;
  }
}

.movement--type {
  &-expense {
    color: var(--color-red);

    svg {
      background-color: var(--color-red);
    }
  }

  &-income {
    color: var(--color-green);

    svg {
      background-color: var(--color-green);
    }
  }
}
