.filled {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--lightest-background);
}

.amount {
  width: 10rem;
}

.formControl {
  position: relative;
}

.placeholder {
  position: absolute;
  font-size: 1rem;
  top: 0;
  left: 1rem;
  padding: 0 0.5rem;
  animation-name: fadeInFromBottom;
  animation-duration: 0.2s;
  animation-direction: forwards;
  animation-timing-function: ease-out;
  transition: all 0.2s;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
