.movement {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

.main {
  width: 100%;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
}

.type--expense {
  .amount {
    color: red;
  }
}

.type--income {
  .amount {
    color: green;
  }
}

.details {
  display: grid;
  grid-gap: 1rem;
}

form,
input,
textarea,
select {
  border: none;
  background-color: transparent;
}
