.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
  padding: 1rem 2rem;
  background-color: var(--color-background);
  transform: translateX(-80%);
  /* animation: fade-in-from-left 0.4s ease-out forwards;*/
  transition: all 0.3s ease-in-out;

  &--open {
    transform: translateX(-100%);
  }

  &:not(.sidebar--open) {
    &:hover {
      cursor: pointer;
      background-color: var(--color-background-soft);
    }
  }

  header {
    position: relative;
    min-height: 2rem;
    padding-top: 2rem;
  }

  &__content,
  &__footer {
    visibility: hidden;
    opacity: 0;
  }

  &__content {
    height: 100%;
    overflow-y: scroll;
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar__toggle {
  position: absolute;
  right: 0;
  font-size: 2rem;
  transform: translateX(4rem) rotate(0deg);
  border: 1rem solid var(--white);
  border-radius: 50%;
  background-color: var(--white);
  transition: all 0.4s ease-out;

  &--mirrored {
    transform: translateX(4rem) rotate(180deg);
  }
}

@keyframes fade-in-from-left {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(0);
  }
}
