button {
  color: hsla(100, 100%, 100%, 1);
  padding: 1rem;
  border: none;
  background-color: hsla(0, 0%, 0%, 1);
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.4s;
}

.base-button--mode {
  &-text {
    padding: 0.25rem;
    background-color: transparent;

    &:hover {
      background-color: var(--lightest-background);
    }

    &.base-button--priority-primary {
      color: var(--light-accent);
    }

    &.base-button--priority-secondary {
      color: var(--black);
    }

    &.base-button--type-destructive {
      color: var(--light-red);
    }
  }

  &-button {
    &.base-button--priority-primary {
      color: var(--white);
      background-color: var(--light-accent);
    }
  }

  &-icon {
    background-color: transparent;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    &:hover {
      background-color: var(--lightest-background);
    }
  }
}

.base-button--size {
  &-small {
    font-size: 1.2rem;
  }
}
