button {
  color: hsla(100, 100%, 100%, 1);
  padding: 1rem;
  border: none;
  background-color: hsla(0, 0%, 0%, 1);
  cursor: pointer;
  border-radius: 1rem;
}

.button--primary {
  color: var(--white);
  background-color: var(--light-accent);
}

button[class^='BaseButton_link'] {
  padding: 0.25rem;
  background-color: transparent;
}

.link--default {
  color: var(--black);
}

.link--primary {
  color: var(--light-accent);
}

.size--small {
  font-size: 1.2rem;
}

.type--destructive {
  color: var(--light-red);
}

button[class*='BaseButton_destructive'] {
  color: var(--light-red);
}
