.base-switch {
  background-color: var(--lightest-background);
  border-radius: 5rem;
  display: inline-flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  transition: all 0.4s ease-out;

  &__option {
    transition: all 0.4s ease-out;
  }

  .active {
    background-color: var(--light-accent);
    color: white;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
  }
}
