.toggle {
  display: flex;
  align-items: center;
  width: 3.5rem;
  border-radius: 10rem;
  padding: 0.25rem;
  background-color: var(--color-background);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.indicator {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  border-radius: 5rem;
  background-color: var(--color-filler);
  transition: transform 0.2s ease-out;
}

.toggle.enabled {
  background-color: var(--color-accent);
}

.toggle.enabled .indicator {
  background-color: var(--white);
  transform: translateX(100%);
}
