@keyframes appear-from-top {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-from-left {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-from-right {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-from-bottom {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear {
  animation-timing-function: ease-out;
  animation-duration: 0.4s ease-out;
  animation-fill-mode: forwards;
  transition: all 0.4s ease-out;

  &.appear--from-top {
    animation-name: appear-from-top;
  }

  &.appear--from-left {
    animation-name: appear-from-left;
  }

  &.appear--from-right {
    animation-name: appear-from-right;
  }

  &.appear--from-bottom {
    animation-name: appear-from-bottom;
  }
}

/**
---------- react-transition-group package classes
*/
.fade-up-enter,
.fade-up-minimal-enter {
  opacity: 0;
  transform: translateY(10%);
}

.fade-up-enter {
  transform: translateY(10%);
}

.fade-up-minimal-enter {
  transform: translateY(3%);
}

.fade-up-enter-active,
.fade-up-minimal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-out;
}

.fade-up-exit,
.fade-up-minimal-exit {
  opacity: 1;
}

.fade-up-exit-active,
.fade-up-minimal-exit-active {
  opacity: 0;
  transition: all 0.4s ease-out;
}
