/* CONTAINER, GRIDS */

/**
---------- CONTAINER
*/

@mixin container($max-width: 0, $padding: 0 1rem) {
  max-width: $max-width;
  width: 100%;
  padding: $padding;
  margin: 0 auto;
}

.container {
  @include container($max-width: 76.8rem, $padding: 1.6rem);
}

.container--compressed {
  @include container($max-width: 48rem);
}

.container--big {
  @include container($max-width: 140rem, $padding: 2rem);
}

.container--fluid {
  @include container();
}

.container--centered {
  text-align: center;
}

@mixin h-grid($grid-gap: 1rem) {
  display: grid;
  grid-gap: $grid-gap;
}

/**
---------- GRIDS // horizontal
*/

.h-grid {
  @include h-grid();
}

.align-center,
.h-centered {
  align-items: center;
}

.justify-center,
.v-centered {
  justify-content: center;
}

.hv-centered {
  align-items: center;
  justify-content: center;
}

.hv-grid {
  @include h-grid();
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/**
---------- GRIDS // vertical
*/

@mixin v-grid($gap: 1rem) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: $gap;
}

.v-grid {
  @include v-grid();
}

@mixin v-grid-sb() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align {
  &-top {
    align-items: flex-start;
  }

  &-center {
    align-items: center;
  }

  &-bottom {
    align-items: flex-end;
  }
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.v-grid-item-expand {
  flex: 1;
}

.gap {
  &-small {
    gap: 0.5rem;
    grid-gap: 0.5rem;
  }

  &-big {
    gap: 2rem;
    grid-gap: 2rem;
  }

  &-huge {
    gap: 5rem;
    grid-gap: 5rem;
  }
}
