.w-100 {
  width: 100%;
}

.np {
  padding: 0;
}

.drop-shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.16);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.relative {
  position: relative;
}
