@import './style/colors.scss';
@import './style/utilities.scss';
@import './style/animations.scss';
@import './style/layout.scss';
@import './style/typography.scss';
@import './style/components.scss';

*,
*::before,
*::after {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 1rem;
  min-height: 100vh;
}

body {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--black);
  transition: padding-left 0.4s ease-out;

  &.with--sidebar {
    padding-left: 20rem;
  }
}
