*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

@mixin h-grid($grid-gap: 1rem) {
  display: grid;
  grid-gap: $grid-gap;
}

@mixin v-grid($gap: 1rem) {
  display: flex;
  align-items: center;
  gap: $gap;
  flex-wrap: wrap;
}

@mixin v-grid-sb() {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h-grid {
  @include h-grid();
}

.h-grid-gap-small {
  @include h-grid($grid-gap: 0.5rem);
}

.v-grid {
  @include v-grid();
}

.v-grid-gap-small {
  @include v-grid($gap: 0.5rem);
}

.v-grid-space-between {
  @include v-grid-sb();
}
